* {
    color:white;
}
a {
    color:#303edb;
}
html {
    background-color: #121212 !important; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
#header {
    align-items: center;
    padding-bottom:20px;
    display:block; 
}
#center {
    margin: auto;
    margin-top: 20px;
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
}
#back-button {
    padding:10px;
    padding-bottom:5px;
    padding-top:5px;
    background-color: #303edb;
    border-radius:5px;
    color:white;
    text-decoration: none;
    display:inline-block;
    float:right;
}

.highlight {
    line-height:28px;
    padding:2px;
    padding-left:8px;
    padding-right:8px;
    background-color: #303edb;
    border-radius:5px;
    color:white;
}
.codehilite {
    overflow: auto;
} 

