* {
    color:white;
}
a {
    color:rgb(100, 109, 241);
}

html, body {
    background-color: #121212 !important; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

#header {
    align-items: center;
    padding-bottom:40px;
    display:block; 
}

#center {
    margin: auto;
    margin-top: 20px;
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
}

#profile-picture {
    float:left;
}

#entry-tree {
    max-width: 700px;
    display:inline-block;
    overflow-wrap: break-word;
}

#entry-tree ul{
    margin-top:5px;
}

@media screen and (max-width:931px) {
    #entry-tree {
        margin-top:20px;
        display:block;
    }
    #profile-picture {
        float:none;
        display:block;
    }

}

#back-button {
    border-radius:5px;
    float:right;
}

.highlight {
    line-height:28px;
    padding:2px;
    padding-left:8px;
    padding-right:8px;
    border-radius:10px;
    border: 1px solid white;
    color:white;
    text-decoration: none;
}

.highlight[href]:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.codehilite {
    overflow: auto;
}

.admonition {
    padding-left:7px;
    padding-right:7px;
    margin:5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.admonition.note {
    background-color: rgb(48, 48, 95);
    border-color: rgb(88, 88, 206);

}

.admonition.warn {
    background-color: rgb(179, 179, 0);
    border-color: rgb(255, 255, 0);
}

blockquote {
    border-left: 2px solid white;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 0px;
    padding: 5px;
}
