<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <style>
    </style>
    <link rel="stylesheet" href="highlight.css">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
</head>
<body>
    <div id='center'>
        <div id="header">
                <h2 style="display:inline;margin:0"><a href="/" style="color:white">{{ local.headline.format(author=author) }}</a></h2>
            {% block header %}{% endblock %}
        </div>
        {% block center %}{% endblock %}
    </div>
</body>
