<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <style>
    </style>
    <link rel="stylesheet" href="highlight.css">
    <link rel="stylesheet" href="style.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div id='center'>
        <div id="header">
            <h2 style="display:inline;margin:0">{{author}}'s Blog</h2>
            {% block header %}{% endblock %}
        </div>
        {% block center %}{% endblock %}
    </div>
</body>
